.playground {
    text-align: center;
}

.pattern {
    position: relative;
    margin-top: 10vw;
}

.triangle {
    position: absolute;
    width: 20vw;
    left: 40vw;
    z-index: -1;
}

.paper {
    position: absolute;
    width: 12vw;
    padding-top:12vw;
    top: -6vw;
    left: 34vw;
    background:linear-gradient(hsl(230, 89%, 62%) ,hsl(230, 89%, 65%));
    border-radius: 50%;
}

.innerCircle {
    position: absolute;
    width: 60%;
    padding-top:60%;
    background-color: white;
    border-radius: 50%;
    top: 20%;
    left: 20%;
}

.paper img {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 25%;
}

.scissors {
    position: absolute;
    width: 12vw;
    padding-top:12vw;
    top: -6vw;
    left: 54vw;
    background:linear-gradient(hsl(39, 89%, 49%) ,hsl(40, 84%, 53%));
    border-radius: 50%;
}

.scissors img {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 25%;
}

.rock {
    position: absolute;
    width: 12vw;
    padding-top:12vw;
    top: 11vw;
    left: 44vw;
    background:linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    border-radius: 50%;
}

.rock img {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 30%;
}

@media (max-width:1028px){
    .playground{
        position: absolute;
        top:60vw;
        width: 80vw;
    }

    .pattern{
        margin-top: 0;
    }

    .triangle {
        width: 50vw;
        left:25vw;
    }

    .paper {
        width: 30vw;
        padding-top: 30vw;

        top:-15vw;
        left: 15vw;
    }

    .scissors {
        width: 30vw;
        padding-top: 30vw;
        top:-15vw;
        left: 55vw;
    }

    .rock {
        width: 30vw;
        padding-top: 30vw;
        top: 20vw;
        left: 35vw;
    }

}